__pycache__/
.venv/

# folder created from train.py)
sentiment_model_local/

# 2. Logs created from train.py
logs/

# 3. Pytest cache
.pytest_cache/

# 4. Monitoring data
prometheus_data/
grafana_data/

# if one day we will use .env file instead of github secrets
.env

# Common IDE folders
.vscode/
.idea/
