--extra-index-url https://download.pytorch.org/whl/cpu

torch
transformers

fastapi
uvicorn[standard]
pydantic
scipy
numpy
pytest
datasets
evaluate
scikit-learn
accelerate
prometheus-fastapi-instrumentator
prometheus-client
httpx
huggingface_hub